:root {
  color-scheme: dark light;

  --font-color: #ffffffdd;
  --font-disabled-color: #a9a9a9dd;
  --background-color: #242424;
  --background-darker-color: #000000;
  --border-color: #ededed;

  --navigation-bg-color:#0d0d0d;
  --navigation-font-color:#f2f2f2;
  --navigation-spacer-color:#808080;

  --background-color-light: #575757;
  --border-color-light: #121212;

  --color-primary: #22e31b;
  --color-primary-darker: #11700d; // 45% darker
  --color-primary-font: var(--font-color);

  --color-secondary: #d21310;
  --color-secondary-darker: #5e0908;
  --color-secondary-font: var(--font-color);

  --color-tertiary: #1db4e8;
  --color-tertiary-darker: #0e5b75;
  --color-tertiary-font: var(--font-color);

  --color-link: #646cff;
  --color-link-hover: #535bf2;

  --color-success: #2baf00;
  --color-success-darker: #228a00;
  --color-info: #059abd;
  --color-info-darker: #057c96;
  --color-warning: #cc4843;
  --color-warning-darker: #a63a37;
  --color-error: #9a0905;
  --color-error-darker: #730703;

  --base-button-color: #00000022

  //--font-color: rgba(0, 0, 0, 0.87);
  //--font-disabled-color: rgba(80, 80, 80, 0.87);
  //--background-color: #c9c8c8;
  //--background-darker-color: #9d9d9d;
  //--border-color: #2a2a2a;
  //
  //--navigation-bg-color:#c9c8c8;
  //--navigation-font-color: #424242;
  //--navigation-spacer-color:#808080;
  //
  //--background-color-light: #888888;
  //--border-color-light: #121212;
  //
  //--color-primary: #016400;
  //--color-primary-darker: #054203; // 45% darker
  //--color-primary-font: var(--background-color);
  //
  //--color-secondary: #750101;
  //--color-secondary-darker: #de1111;
  //--color-secondary-font: var(--font-color);
  //
  //--color-tertiary: #85d1ee;
  //--color-tertiary-darker: #08b3ee;
  //--color-tertiary-font: var(--font-color);
  //
  //--color-link: #646cff;
  //--color-link-hover: #535bf2;
  //
  //--color-success: #1b6c00;
  //--color-success-darker: #228a00;
  //--color-info: #006880;
  //--color-info-darker: #04bae3;
  //--color-warning: #5e0704;
  //--color-warning-darker: #a63a37;
  //--color-error: #9a0905;
  //--color-error-darker: #730703;
  //
  //--base-button-color: #d9d9d921;

}
