:root {
  color-scheme: dark light;

  --font-color: #ffffffdd;
  --font-disabled-color: #a9a9a9dd;
  --background-color: #242424;
  --border-color: #ededed;

  --navigation-bg-color:#0d0d0d;
  --navigation-font-color:#f2f2f2;
  --navigation-spacer-color:#808080;

  --background-color-light: #575757;
  --border-color-light: #121212;

  --color-primary: #44b640;
  --color-primary-darker: #358f32; // 15% darker
  --color-primary-font: var(--font-color);

  --color-secondary: #d9534f;
  --color-secondary-darker: #b34440;
  --color-secondary-font: var(--font-color);

  --color-link: #646cff;
  --color-link-hover: #535bf2;

  --color-success: #2baf00;
  --color-info: #059abd;
  --color-warning: #cc4843;
  --color-error: #9a0905;

}
