$width-xl: 1920px;
$width-l: 1280px;
$width-m: 960px;
$width-s: 640px;
$width-xs: 480px;

:root {
  --width-xl: #{$width-xl};
  --width-l: #{$width-l};
  --width-m: #{$width-m};
  --width-s: #{$width-s};
  --width-xs: #{$width-xs};
}
