:root {
  ---zIndex-switch-button-off: 100;
  ---zIndex-switch-button-on-background: 101;
  ---zIndex-switch-button-on: 102;

  ---zIndex-navbar: 900;

  ---zIndex-modal: 1000;
  ---zIndex-modal-background: 1001;
  ---zIndex-modal-foreground: 1002;
}
