:root {
  ---zIndex-switch-button-off: 100;
  ---zIndex-switch-button-on-background: 101;
  ---zIndex-switch-button-on: 102;

  ---zIndex-input-info-text: 200;

  ---zIndex-navbar: 901;
  ---zIndex-navbar-base: 900;
  ---zIndex-footer: 895;
  ---zIndex-navbar-background: 890;

  ---zIndex-modal: 1000;
  ---zIndex-modal-background: 1001;
  ---zIndex-modal-foreground: 1002;
}
