.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  &.with-border {
    border: 1px solid var(--border-color);
    padding: 0.25rem;
    border-radius: 1rem;
  }

  &.inline-tags {
    height: 50px;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .tag {
    position: relative;

    height: 30px;
    box-sizing: border-box;
    padding: 4px 12px 4px 12px;
    margin: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;


    background: rgba(0, 0, 0, 0.2);
    color: var(--font-color);
    --tag-color: var(--color-primary);
    border-radius: 30px;
    border: 2px solid var(--tag-color);

    &.info {
      --tag-color: var(--color-info);
      color: var(--color-info);
      border-color: var(--color-info-darker);
    }

    &.success {
      --tag-color: var(--color-success);
      color: var(--color-success);
      border-color: var(--color-success-darker);
    }

    &.failure {
      --tag-color: var(--color-warning);
      color: var(--color-warning);
      border-color: var(--color-warning-darker);
    }

    transition: background 0.25s, color 0.25s, border-color 0.25s, padding 0.5s;

    &.active {
      padding-right: 24px;
      background: var(--tag-color);
      color: var(--font-color);
    }

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
      background: var(--background-darker-color);
      color: var(--font-color);

      &.active {
        background: var(--color-primary);
      }

      &.info {
        background: var(--color-info-darker);
      }

      &.success {
        background: var(--color-success-darker);
      }

      &.failure {
        background: var(--color-warning-darker);
      }
    }

    svg {
      position: absolute;
      top: 2px;
      right: 0;
    }
  }
}

