.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  &.with-border {
    border: 1px solid var(--border-color);
    padding: 0.25rem;
    border-radius: 1rem;
  }

  &.inline-tags {
    height: 50px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .tag {
    position: relative;

    height: 30px;
    box-sizing: border-box;
    padding: 4px 12px 4px 12px;
    margin: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;


    background: var(--base-button-color);
    color: var(--font-color);
    --tag-color: var(--color-primary-darker);
    --tag-font-color: var(--color-primary-font);
    border-radius: 30px;
    border: 2px solid var(--tag-color);

    &.info {
      --tag-color: var(--color-info-darker);
      color: var(--color-info);
      border-color: var(--color-info-darker);
      --tag-font-color: var(--font-color);
    }

    &.success {
      --tag-color: var(--color-success-darker);
      color: var(--color-success);
      border-color: var(--color-success-darker);
      --tag-font-color: var(--font-color);
    }

    &.failure {
      --tag-color: var(--color-warning-darker);
      color: var(--color-warning);
      border-color: var(--color-warning-darker);
      --tag-font-color: var(--font-color);
    }

    &.primary {
      --tag-color: var(--color-primary-darker);
      color: var(--color-primary);
      border-color: var(--color-primary-darker);
      --tag-font-color: var(--color-primary-font);
    }

    &.secondary {
      --tag-color: var(--color-secondary-darker);
      color: var(--color-secondary);
      border-color: var(--color-secondary-darker);
      --tag-font-color: var(--color-secondary-font);
    }

    &.tertiary {
      --tag-color: var(--color-tertiary-darker);
      color: var(--color-tertiary);
      border-color: var(--color-tertiary-darker);
      --tag-font-color: var(--color-tertiary-font);
    }

    transition: background 0.25s, color 0.25s, border-color 0.25s, padding 0.5s;

    &.active {
      padding-right: 24px;
      background: var(--tag-color);
      color: var(--tag-font-color);
    }

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
      color: var(--font-color);
      filter: brightness(1.3);
    }

    svg {
      width: 15px;
      height: 15px;

      &.icon-close {
        position: absolute;
        top: 2px;
        right: 0;
        height: 24px;
        width: 24px;
      }
    }
  }
}

