@import './animation.scss';
@import './button.scss';
@import './form.scss';

.app-container {
  display: flex;
  flex-direction: column;
  max-width: var(--width-l);
  gap: 1rem;
}

.container-col, .container-row {
  flex: 1;
  display: flex;
  gap: 1rem;
  &.zero-flex {
    flex: 0;
  }
  &.with-border{
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 1rem;
  }
}

.container-col {
  flex-direction: column;
}
.container-row {
  @media (max-width: var(--width-s)) {
    flex-direction: column;
  }
}



.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  &.main-button-list {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
  }
}
