@use './animation.scss' as animation;
@use './button.scss' as button;
@use './form.scss' as form;
@use './values/responsive.scss' as responsive;

.app-container {
  display: flex;
  flex-direction: column;
  max-width: var(--width-l);
  gap: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.kana-overview {
  .activated-char {
    color: var(--color-primary);
  }
}

.container-col, .container-row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;

  &.zero-flex {
    flex: 0;
  }

  &.with-border {
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 1rem;
  }

  .spacer {
    flex: 1;
  }
}

.container-col {
  flex-direction: column;
}

.container-row {
  @media (max-width: responsive.$width-s) {
    flex-direction: column;
    &.container-row-mini{
      flex-direction: row;
    }
  }
}


.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  &.main-button-list {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0.5rem;
  gap: 5rem;

  svg {
    width: 25px;
    height: 25px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  }


  list-style: none;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;

    user-select: none;
    font-size: 1.1rem;

    border: 1px solid currentColor;
    box-shadow: 0 0 20px 4px currentColor;
    background: #2c1b1b;

    svg {
      width: 35px;
      height: 35px;
    }

    &#icon-list-vivaldi {
      color: #ed3939;
    }

    &#icon-list-phpstorm {
      color: #7354fc;
    }

    &#icon-list-typescript {
      color: #3177c4;
    }

    &#icon-list-react {
      color: #00d6fd;
    }

    &#icon-list-vitejs {
      color: #eeb938;
    }

    &#icon-list-iconify {
      color: #e7e7e7;
    }

    z-index: 3;
    transition: box-shadow 0.5s ease-in-out;
    //filter: saturate(0.5);

    &:hover {
      z-index: 500;
      filter: saturate(1.2);
      box-shadow: 0 0 40px 8px currentColor;

    }
  }
}

.technology-icon-list {
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent 5%, var(--background-color-light) 100%);
    pointer-events: none; // Verhindert Interaktionen
    z-index: 1; // Weiter oben als die Icons
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, transparent 95%, var(--background-color-light) 100%);
    pointer-events: none; // Verhindert Interaktionen
    z-index: 1; // Weiter oben als die Icons
  }
}

.animated-action-icon-container {
  .inner-animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    transition: text-shadow 0.2s ease-in-out;
  }

  &:hover {
    .inner-animation-container {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(0, 0, 0, 0.9), 0px 0px 12px rgba(0, 0, 0, 1), 0px 0px 16px rgba(0, 0, 0, 1);
    }
  }
}

@keyframes rocketBackground {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
    inset: 25px;
  }
  5% {
    opacity: 1;
  }

  25% {
    inset: -175px;
    width: 400px;
    height: 400px;
  }
  50% {
    inset: -475px;
    width: 1000px;
    height: 1000px;
  }
  90% {
    opacity: 1;
    inset: -975px;
    width: 2000px;
    height: 2000px;
  }
  100% {

    opacity: 0;
  }
}

@keyframes starScrolling {
  0% {
    background-position: 0 0;
    transform: rotate(0deg);
  }
  50% {
    background-position: 50% 50%;
    transform: rotate(180deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    background-position: 0 0;
    opacity: 0;

  }
}

@keyframes rocketStart {
  0% {
    transform: rotate(0deg); /* Ausgangsposition */
    left: 0;
  }
  8% {
    transform: rotate(-10deg);
  }
  16% {
    transform: rotate(10deg);
  }
  24% {
    transform: rotate(-24deg);
  }
  28% {
    left: 0;
  }
  32% {
    transform: rotate(90deg);
  }
  80% {
    filter: blur(0px);
  }
  90% {
    opacity: 1;
  }
  100% {
    filter: blur(50px);
    transform: rotate(90deg); /* Wackeln nach rechts */
    opacity: 0;
    left: 50%;
  }
}

.rocket-action-icon {
  svg {
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.9)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
  }

  &.animated-action-icon-start {
    animation: rocketStart 8s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    position: relative;
  }

  .rocket-background {
    content: "";
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center, black 0%, black 60%, transparent 70%);

    top: 0;
    left: 0;
    inset: -175px;
    width: 400px;
    height: 400px;
    animation: rocketBackground 8s ease-in-out;
  }

  .stars-background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: -975px;
    width: 2000px;
    height: 2000px;
    animation: starScrolling 9s infinite;

    background-image: radial-gradient(1px 1px at 20% 80%, white, transparent),
    radial-gradient(1.5px 1.5px at 50% 30%, white, transparent),
    radial-gradient(1px 1px at 70% 60%, white, transparent);
    background-size: 150px 150px, 200px 200px, 100px 100px;
    background-repeat: repeat;
    z-index: 1;
  }
}

.container-col > .card {
  min-width: 0; /* überschreibt min-width:auto-Verhalten */
  flex: 1 1 auto;

}

.progress-row-container {
  position: relative;
}

.progress-row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 4rem;
  flex-wrap: nowrap;

  //max-width: 100%; /* begrenzt den Container auf die Kartenbreite */
  overflow-x: hidden; /* horizontales Scrollen aktivieren */
  overflow-y: hidden;

  position: relative;
  mask-image: linear-gradient(
                  to right,
                  transparent 0,
                  #000 10%,
                  #000 90%,
                  transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  cursor: grab;
  user-select: none;

  &.scroll-snapping {
    scroll-snap-type: x mandatory;
  }

  .progress-item {
    flex: 0 0 auto; /* nicht schrumpfen, feste Breite */
    position: relative;
    margin-top: 60px;
    width: 150px;
    padding: .25rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;

    &:first-child {
      margin-left: 40%;
    }

    scroll-snap-align: center;

    &:last-child {
      margin-right: 40%;
    }

    &.active {
      color: var(--color-primary);

      .progress-bubble {
        color: var(--color-primary);
        border-color: var(--color-primary);
        background: var(--background-color-light);

        &::after {
          background: var(--color-primary);
        }
      }

      &:not(:last-child)::after {
        background: linear-gradient(to right, var(--font-color) 30%, var(--color-primary) 50%, var(--font-color) 70%);
        background-size: 200%;
        animation: background-rotating 1s linear infinite;
      }
    }

    &.finished {
      color: var(--color-tertiary);

      .progress-bubble {
        color: var(--color-tertiary);
        border-color: var(--color-tertiary);
        background: var(--background-color-light);

        &::after {
          background: var(--color-tertiary);
        }
      }

      &:not(:last-child)::after {
        background: var(--color-tertiary);
      }
    }

    .progress-bubble {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0.5rem;
      width: 50px;
      border-radius: 25px;

      background: var(--font-color);
      color: var(--background-color-light);
      border: 1px solid var(--font-color);

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: calc(50% - 2px);
        width: 2px;
        height: 20px;
        background: var(--font-color);
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 100%;
      top: calc(50% - 2px);
      width: 4rem;
      height: 2px;
      background: var(--font-color);
    }
  }
}


@keyframes showProgressFinal {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes rocketRunning {
  0% {
    transform: rotate(100deg);
    left: -55%;
    top: 0;
  }

  20% {
    transform: rotate(100deg);
  }
  30% {
    top: 20px;
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(80deg);
  }

  60% {
    transform: rotate(80deg);
  }
  70% {
    top: -20px;
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(100deg);
  }

  100% {
    transform: rotate(90deg);
    left: 55%;
    top: 0;
  }
}

.progress-final {
  position: absolute;
  top: -20px;
  left: -15px;
  width: calc(100% + 30px);
  height: 150px;
  //outline: 1px solid var(--color-primary);
  overflow: hidden;

  background: var(--background-darker-color);
  box-shadow: 0 0 20px 4px var(--background-darker-color);
  animation: showProgressFinal 1s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  transition: filter 0.5s ease-in-out;

  svg {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

    path {

      mask-image: linear-gradient(230deg, black, transparent 80%);
      transition: mask-image 0.5s ease-in-out;

    }
  }

  &:hover {
    filter: invert(100%) brightness(0.8) saturate(4.9);

    svg {
      width: 100px;
      height: 100px;

      path {
        mask-image: linear-gradient(230deg, black, black);
      }
    }

    .rocket-action-icon {
      &.animated-action-icon-start {
      }
    }
  }

  .rocket-action-icon {
    top: 0px;
    left: -55%;

    &:hover {
      width: 80px;
      height: 80px;
    }

    &.animated-action-icon-start {
      animation: rocketRunning 5s infinite linear;
    }
  }
}

.rainbow {
  min-width: 4rem;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  filter: brightness(1.6);

  position: relative;
  border: none;
  //border-radius: 20px;

  background: transparent;
  height: 20px;

  &::after {
    border-radius: inherit;
    background: linear-gradient(120deg,
            var(--color-tertiary-darker) 10%,
            var(--color-primary-darker) 30%,
            var(--color-primary-darker) 70%,
            var(--color-secondary-darker) 90%);
    background-size: 200% 200%;
    animation: rainbow-rotating 4s infinite ease-in-out;

    content: "";
    position: absolute;
    inset: -0px; /* Ausdehnung des Schattens nach außen */
    transition: filter 0.2s ease-in-out;
    filter: blur(40px);

  }
}


.delete-data-card{
  .card-body{
    align-items: center;
  }
}
