@import './color.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-color);
  background-color: var(--background-color);
}

#root {
  position: relative;
  max-width: 1280px;

  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 2rem 2rem 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
  line-height: normal;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4{
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
