@use 'values/color' as color;
@use 'values/sizes' as sizes;
@use 'values/responsive' as responsive;
@use 'values/zIndex' as zIndex;

/* Globale Korrekturen für Mobile */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Verhindert horizontales Scrollen durch 100vw-/Padding-Fallen */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-color);
  background-color: var(--background-color);
}

#root {
  position: relative;
  text-align: center;
  width:100%;
  @media (min-width: responsive.$width-m) {
    max-width: var(--width-l);

    width: calc(90% - (var(--app-horizontal-padding) * 2));
    min-height: calc(100dvh - (var(--nav-height) + var(--app-vertical-padding) + var(--footer-height) + var(--app-vertical-padding)));
    margin: 0 auto;
    padding: calc(var(--nav-height) + var(--app-vertical-padding)) var(--app-horizontal-padding) calc(var(--footer-height) + var(--app-vertical-padding)) var(--app-horizontal-padding);
  }

  @media (max-width: responsive.$width-m) {
    margin: 0 auto;
    width: calc(100% - (var(--app-horizontal-padding) * 2));
    min-height: calc(100dvh - (var(--nav-width) + var(--app-vertical-padding) + var(--footer-height) + var(--app-vertical-padding)));
    padding: var(--app-vertical-padding) var(--app-horizontal-padding) calc(var(--footer-height) + var(--app-vertical-padding)) calc(var(--nav-width) + var(--app-horizontal-padding));
  }
  @media (max-width: responsive.$width-s) {
    margin: 0 auto;
    width: calc(100% - (var(--app-horizontal-padding) * 3.5));
    min-height: calc(100dvh - (var(--nav-width) + var(--app-vertical-padding) + var(--footer-height) + var(--app-vertical-padding)));
    padding: var(--app-vertical-padding) var(--app-horizontal-padding) calc(var(--footer-height) + var(--app-vertical-padding)) calc(var(--nav-width) + var(--app-horizontal-padding));
  }
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
  line-height: normal;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height:unset;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
